:root {
  --primary-color: #f8f8f8;
  --secondary-color: #f0f0ed;
  --text-color: #7f7f7f;
  --background-color: #fbfafb;
}

.container {
  width: 650px;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
  margin-right: auto;
  margin-left: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.w-100 {
  width: 100%;
}

.justify-content-sb {
  justify-content: space-between;
}

.no-select {
  ::selection {
    background: transparent;
  }
}



// elements 
h2 {
  font-size: 18px;
  font-weight: 600;
}

p,
h2 {
  margin: 0;
  padding: 0;
}
input {
  outline: none;
}


// media queries
@media (min-width: 320px) {
  .container-sm,
  .container {
    max-width: 300px;
  }
}
@media (min-width: 576px) {
  .container-sm,
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container-md,
  .container-sm,
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container-xl,
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container-xxl,
  .container-xl,
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 1320px;
  }
}
